*{
	margin: 0px auto;
	padding: 0px;
	font-family: sans-serif;
	box-sizing: border-box;
}
#top{
	width: 100%;
	height: 100px;
}
.thu1{
	width: 350px;
	height: 100%;
	float: left;
}
.icon{
	line-height: 20px;
	margin-left: 55px;
	list-style: none;
	text-align: center;
}
.icon1{
	font-size: 20px;
	font-weight: bold;
	text-shadow: 2px 2px 2px #cc0000;
}
.thu2{
	width: 469px;
	height: 100%;
	float: left;
}

#top .thu2 .hihihi {
    width: 80%;
    padding-right: 38px;
    line-height: 36px;
    padding-left: 10px;
    background-color: transparent;
    border: 1px solid #2b80dd;
    margin-top: 30px;
}
#top .thu2 .hihi1 {
    width: 15%;
    padding-right: 38px;
    line-height: 36px;
    padding-left: 10px;
    background-color: transparent;
    border: 1px solid #2b80dd;
    margin-top: 30px;
}
.input{
	margin-top: 20px;
}
.thu3{
	width: 350px;
	height: 100%;
	float: left;
	text-align: center;
}
.hihi{
	list-style: none;
	line-height: 30px;
	margin-top: 5px;
}
.size{
	font-size: 15px;
}
.thu4{
	width: 350px;
	height: 100%;
	float: right;
}
.giohang{
	text-align: center;
	list-style: none;
	margin-top: 30px;
}
#Menu_top{
	width: 100%;
	height: 40px;
	background: #cc0000;
}
#Menu_top ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
#Menu_top ul li{
	list-style: none;
	width: 200px;
	height: 40px;
	line-height: 40px;
	position: relative;
	text-transform:uppercase;
	font-size: 12px;
	display: inline-table;
}
#Menu_top ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
}
.submenu{
	width: 600px;
	height: 300px;
}
#hung1{
	width: 300px;
	height: 150px;
	background: yellow;
	float: left;
}
#hung2{
	width: 300px;
	height: 150px;
	background: blue;
	float: right;
}
#Menu_top ul li a:hover{
	background: #f1f1f1;
	color: #333;
}
#Menu_top ul li:hover{
	background: #CDE2CD;
}
#Menu_top ul li >.submenu{
		position: absolute;
		display: none;
}
#Menu_top ul li:hover .submenu{
		display: block;
}
.submenu1{
	width: 400px;
	height: 300px;
}
#hung3{
	width: 50%;
	height: 100px;
	background: yellow;
	float: left;
}
#hung4{
	width: 50%;
	height: 100px;
	background: blue;
	line-height: 150px;
	float: right;
}
#Menu_top ul li >.submenu1{
		position: absolute;
		display: none;
}
#Menu_top ul li:hover .submenu1{
		display: block;
}
.submenu2{
	width: 600px;
	height: 300px;
}
#hung5{
	width: 400px;
	height: 200px;
	background: yellow;
	margin: 0px;
}
#Menu_top ul li >.submenu2{
		position: absolute;
		display: none;
}
#Menu_top ul li:hover .submenu2{
		display: block;
}
.submenu3{
	width: 600px;
	height: 300px;
}
#hung6{
	width: 50%;
	height: 200px;
	background: yellow;
	float: left;
}
#hung7{
	width: 50%;
	height: 200px;
	background: blue;
	float: right;
}
#Menu_top ul li >.submenu3{
		position: absolute;
		display: none;
}
#Menu_top ul li:hover .submenu3{
		display: block;
}
.submenu4{
	width: 400px;
	height: 300px;
}
#hung7{
	width: 50%;
	height: 200px;
	background: yellow;
	float: left;
}
#hung8{
	width: 50%;
	height: 200px;
	background: blue;
	float: right;
}
#Menu_top ul li >.submenu4{
		position: absolute;
		display: none;
}
#Menu_top ul li:hover .submenu4{
		display: block;
}
#center{
	width: 80%;
	height: auto;
}
#banner{
	width: 100%;
	height: 300px;
}
#left1{
	height: 300px;
	float: left;
	border: 1px solid red;
}
#top1{
	height: 150px;
}
#top2{
	height: 150px;
	margin-top: 5px;
}

#center1{
	width: 100%;
	height: 50px;
	margin-top: 30px;
}
#center1 ul{
	margin: 0px;
	padding: 0px;
}
#center1 ul li{
	display: inline-table;
	width: 150px;
	font-size: 14px;
	line-height: 50px;
	color:#3366ff;
}
#center1 ul li:hover{
	color: #ff3300;
}
.laptop{
	height: 50px;
	width: 150px;
	margin-right: 50px;
	background: #99ccff;
}
.laptop:hover{
	background: #99ccff;
}
.LapTop1{
	height: 20px;
	width: auto;
	background:#99ccff; 
}
#center2{
	width: 100%;
	height: 270px;
	margin-top: 15px;
}
#left2{
	margin-right: 5px;
	float: left;
}
#left3{
	margin-right: 5px;
	float: left;
}
#left5{
	width: 295px;
	font-size: 13px;
	text-align: center;
	margin-top: 5px;
	line-height: 20px;
}
#left5:hover{
	color: #99ccff;
}
#center2 #left5 a{
	color: blue;
}
#right2{
	float: left;
}
#right3{
	float: right;
}
#right5{
	width: 295px;
	font-size: 13px;
	text-align: center;
	margin-top: 5px;
	line-height: 20px;
}
#right5:hover{
	color: #99ccff;
}
#right7{
	width: 295px;
	font-size: 13px;
	text-align: center;
	margin-top: 5px;
	line-height: 20px;
}
#right7:hover{
	color: #99ccff;
}
.mau1{
	color: blue;
}

#center3{
	width: 100%;
	height: 50px;
	margin-top: 30px;
}
#center3 ul{
	margin: 0px;
	padding: 0px;
}
#center3 ul li{
	display: inline-table;
	width: 150px;
	font-size: 14px;
	line-height: 50px;
	color:#3366ff;
}
#center3 ul li:hover{
	color: red;
}
.desktop{
	background: #99ccff;
}
#center4{
	width: 100%;
	height: 250px;
	margin-top: 15px;
}
#hinh1{
	margin-right: 5px;
	float: left;
}
#hinh2{
	width: 295px;
	height: 250px;
	float: left;
	margin-right: 5px;
}
#hinh4{
	width: 295px;
	height: 70px;
	font-size: 13px;
	text-align: center;
}
#center4 #hinh2 #hinh4:hover{
	color: yellow;
}
#hinh5{
	width: 295px;
	height: 250px;
	float: left;
	margin-left: 5px;
}
#hinh7{
	width: 295px;
	height: 70px;
	font-size: 13px;
	text-align: center;
}
#center4 #hinh5 #hinh7:hover{
	color: yellow;
}
#hinh8{
	width: 295px;
	height: 250px;
	margin-left: 5px;
	float: right;
}
#hinh10{
	width: 295px;
	height: 70px;
	font-size: 13px;
	text-align: center;
}
#center4 #hinh8 #hinh10:hover{
	color: yellow;
}
#center5{
	width: 100%;
	margin-top: 30px;
}
#center5 ul{
	padding: 0px;
	margin: 0px;
}

#center5 ul li{
	display: inline-table;
	font-size: 14px;
	width: 130px;
	background:#ffff99;
	text-align: center;
	padding: 5px;
}
#center5 .hung10{
	background: #ff6699;
	color: red;
}
#center6{
	margin-top: 20px;
}
#noname1{
	width: 10px;
	height: 20px;
	background: blue;
	float: left;
	margin-right: 10px;
}
#noname2{
	color: blue;
	font-size: 20px;
}
#center7{
	width: 100%;
	height: 500px;
	margin-top: 20px;
}
#bentrai{
	height: 100%;
	float:left;
	margin-right: 15px;
}
#benphai{
	width: 300px;
	height: 500px;
	float: left;
}
#giua{
	margin-top: 10px;

}
#duoi{
	margin-top: 8px;
}
#benphai1{
	width: 375px;
	height: 500px;
	margin-left: 15px;
	float:left;
}
#tren1{
	margin: 0px;
	padding: 0px;
	width: 375px;
	height: 160px;
}
#nonamee1{
	font-weight: bold;
}
#nonamee2{
	font-size: 14px;
	margin-top: 15px;
}
#nonamee3{
	margin-top: 15px;
	color: #ffccff;
}
#giua1{
	margin: 0px;
	padding: 0px;
	float: left;
	margin-top: 15px;
	width: 375px;
	height: 160px;
}
#nonameee1{
	font-weight: bold;
}
#nonameee2{
	font-size: 14px;
	margin-top: 15px;
}
#nonameee3{
	margin-top: 15px;
	color: #ffccff;
}
#duoi1{
	margin: 0px;
	padding: 0px;
	float: left;
	margin-top: 15px;
	width: 375px;
	height: 160px;
}
#nonameeee1{
	font-weight: bold;
}

#nonameeee2{
	font-size: 14px;
	margin-top: 15px;
}
#nonameeee3{
	margin-top: 15px;
	color: #ffccff;
}
#center8{
	width: 100%;
	height: 80px;
	margin-top: 30px;
}
#giaohang{
	width: 350px;
	background: #ffff99;
	height: 80px;
	float: left;
}

#giaohang1{
	float: left;
	margin-top: 23px;
	margin-left: 152px;
}
#giaohang2{
	margin-top: 30px;
	text-indent: 15px;
}
#vitri{
	width: 171px;
	background: #ffff99;
	height: 80px;
	float: left;
}
#vitri1{
	float: left;
	margin-top: 23px;
}
#vitri2{
	margin-top: 30px;
	text-indent: 15px;
}
#doigia{
	width: 171px;
	background: #ffff99;
	height: 80px;
	float: left;
}
#doigia1{
	float: left;
	margin-top: 23px;
}
#doigia2{
	margin-top: 30px;
	text-indent: 15px;
}
#thanhtoan{
	width: 171px;
	background: #ffff99;
	height: 80px;
	float: left;
}
#thanhtoan1{
	float: left;
	margin-top: 23px;
}
#thanhtoan2{
	margin-top: 30px;
	text-indent: 15px;
}
#hotro{
	width: 350px;
	background: #ffff99;
	height: 80px;
	float: left;
}
#hotro1{
	float: left;
	margin-top: 23px;
}
#hotro2{
	margin-top: 30px;
	text-indent: 15px;
		margin-right: 152px;
}