*{
	margin: 0px auto;
	padding: 0px;
	font-family: sans-serif;
	box-sizing: border-box;
}
#top{
	width: 100%;
	height: 100px;
}
.thu1{
	width: 350px;
	height: 100%;
	float: left;
}
.icon{
	line-height: 20px;
	margin-left: 55px;
	list-style: none;
	text-align: center;
}
.icon1{
	font-size: 20px;
	font-weight: bold;
	text-shadow: 2px 2px 2px #cc0000;
}
.thu2{
	width: 469px;
	height: 100%;
	float: left;
}

#top .thu2 .hihihi {
    width: 80%;
    padding-right: 38px;
    line-height: 36px;
    padding-left: 10px;
    background-color: transparent;
    border: 1px solid #2b80dd;
    margin-top: 30px;
}
#top .thu2 .hihi1 {
    width: 15%;
    padding-right: 38px;
    line-height: 36px;
    padding-left: 10px;
    background-color: transparent;
    border: 1px solid #2b80dd;
    margin-top: 30px;
}
.input{
	margin-top: 20px;
}
.thu3{
	width: 350px;
	height: 100%;
	float: left;
	text-align: center;
}
.hihi{
	list-style: none;
	line-height: 30px;
	margin-top: 5px;
}
.size{
	font-size: 15px;
}
.thu4{
	width: 350px;
	height: 100%;
	float: right;
}
.giohang{
	text-align: center;
	list-style: none;
	margin-top: 30px;
}
#Menu_top{
	width: 100%;
	height: 40px;
	background: #cc0000;
}
#Menu_top ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
#Menu_top ul li{
	list-style: none;
	width: 200px;
	height: 40px;
	line-height: 40px;
	position: relative;
	text-transform:uppercase;
	font-size: 12px;
	display: inline-table;
}
#Menu_top ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
}
.submenu{
	width: 600px;
	height: 300px;
}
#hung1{
	width: 300px;
	height: 150px;
	background: yellow;
	float: left;
}
#hung2{
	width: 300px;
	height: 150px;
	background: blue;
	float: right;
}
#Menu_top ul li a:hover{
	background: #f1f1f1;
	color: #333;
}
#Menu_top ul li:hover{
	background: #CDE2CD;
}
#Menu_top ul li >.submenu{
		position: absolute;
		display: none;
}
#Menu_top ul li:hover .submenu{
		display: block;
}
.submenu1{
	width: 400px;
	height: 300px;
}
#hung3{
	width: 50%;
	height: 100px;
	background: yellow;
	float: left;
}
#hung4{
	width: 50%;
	height: 100px;
	background: blue;
	line-height: 150px;
	float: right;
}
#Menu_top ul li >.submenu1{
		position: absolute;
		display: none;
}
#Menu_top ul li:hover .submenu1{
		display: block;
}
.submenu2{
	width: 600px;
	height: 300px;
}
#hung5{
	width: 400px;
	height: 200px;
	background: yellow;
	margin: 0px;
}
#Menu_top ul li >.submenu2{
		position: absolute;
		display: none;
}
#Menu_top ul li:hover .submenu2{
		display: block;
}
.submenu3{
	width: 600px;
	height: 300px;
}
#hung6{
	width: 50%;
	height: 200px;
	background: yellow;
	float: left;
}
#hung7{
	width: 50%;
	height: 200px;
	background: blue;
	float: right;
}
#Menu_top ul li >.submenu3{
		position: absolute;
		display: none;
}
#Menu_top ul li:hover .submenu3{
		display: block;
}
.submenu4{
	width: 400px;
	height: 300px;
}
#hung7{
	width: 50%;
	height: 200px;
	background: yellow;
	float: left;
}
#hung8{
	width: 50%;
	height: 200px;
	background: blue;
	float: right;
}
#Menu_top ul li >.submenu4{
		position: absolute;
		display: none;
}
#Menu_top ul li:hover .submenu4{
		display: block;
}
#center{
	width: 80%;
	height: auto;
}
#banner{
	width: 100%;
	height: 300px;
}
#left1{
	height: 300px;
	float: left;
	border: 1px solid red;
}
#top1{
	height: 150px;
}
#top2{
	height: 150px;
	margin-top: 5px;
}
#center1{
	width: 100%;
	height: 50px;
	margin-top: 30px;
}
#center1 ul{
	margin: 0px;
	padding: 0px;
}
#center1 ul li{
	display: inline-table;
	width: 150px;
	font-size: 14px;
	line-height: 50px;
	color:#3366ff;
}
#center1 ul li:hover{
	color: #ff3300;
}
.laptop{
	height: 50px;
	width: 150px;
	margin-right: 50px;
	background: #99ccff;
}
.laptop:hover{
	background: #99ccff;
}
.LapTop1{
	height: 20px;
	width: auto;
	background:#99ccff; 
}
#center2{
	width: 100%;
	height: 270px;
	margin-top: 15px;
}
#left2{
	margin-right: 5px;
	float: left;
}
#left3{
	margin-right: 5px;
	float: left;
}
#left5{
	width: 295px;
	font-size: 13px;
	text-align: center;
	margin-top: 5px;
	line-height: 20px;
}
#left5:hover{
	color: #99ccff;
}
#center2 #left5 a{
	color: blue;
}
#right2{
	float: left;
}
#right3{
	float: right;
}
#right5{
	width: 295px;
	font-size: 13px;
	text-align: center;
	margin-top: 5px;
	line-height: 20px;
}
#right5:hover{
	color: #99ccff;
}
#right7{
	width: 295px;
	font-size: 13px;
	text-align: center;
	margin-top: 5px;
	line-height: 20px;
}
#right7:hover{
	color: #99ccff;
}
.mau1{
	color: blue;
}
#center3{
	width: 100%;
	height: 50px;
	background: blue;
	margin-top: 30px;
}
#center4{
	width: 100%;
	height: 250px;
	background: red;
	margin-top: 15px;
}
#center5{
	width: 100%;
	height: 50px;
	background: blue;
	margin-top: 30px;
}
#center6{
	width: 100%;
	height: 250px;
	background: red;
	margin-top: 15px;
}
#center7{
	width: 100%;
	height: 50px;
	background: blue;
	margin-top: 30px;
}
#center8{
	width: 100%;
	height: 250px;
	background: red;
	margin-top: 15px;
}
#center9{
	width: 100%;
	height: 50px;
	background: blue;
	margin-top: 30px;
}
#center10{
	width: 100%;
	height: 250px;
	background: red;
	margin-top: 15px;
}
#center11{
	width: 100%;
	height: 50px;
	background: blue;
	margin-top: 30px;
}
#center12{
	width: 100%;
	height: 250px;
	background: red;
	margin-top: 15px;
}
#center13{
	width: 100%;
	height: 50px;
	background: blue;
	margin-top: 30px;
}
#center12{
	width: 100%;
	height: 250px;
	background: red;
	margin-top: 15px;
}