*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
#all{
	width: 100%;
	height: auto;
	border: 10px solid #ffff66;
}
#top{
	width: 100%;
	height: 100px;

}
#top>ul{
	text-align: center;
	list-style: none;
}
#top>ul>li{
	line-height: 50px;
}
#top>ul>li>a{
	text-decoration: none;
	color: black;
}
#bellow-top{
	width: 100%;
	height: 50px;
	background: black;
	line-height: 50px;
	border-bottom: 10px solid #ffff66;
}
#bellow-top>ul>li{
	color: #f3f3f3;
	display: inline-table;
	width: 50px;
}
.right-bellow-top{
	float: right;
}
#center{
	width: 100%;
	height: 500px;

	display: flex;
}
#right-center{
	width: 75%;
	height: 100%;
	
}
#left-center{
	width: 25%;
	height: 100%;
	
}
#top-right-center{
	width: 100%;
	height: 50%;

	border-bottom: 10px solid #ffff66;
}
#bottom-right-center{
	width: 100%;
	height:50%;

}
#top-left-center{
	width: 100%;
	height: 30%;
	border-bottom: 10px solid #ffff66;
	border-left: 10px solid #ffff66;
}
#center-left-center{
	width: 100%;
	height: 30%;

	border-bottom: 10px solid #ffff66;
	border-left: 10px solid #ffff66;
}

#bottom-left-center{
	width: 100%;
	height: 40%;
	background:#999966;
	border-left: 10px solid #ffff66;
}
#top-right-center>ul{
	margin-left: 20px;
	list-style: none;
}
#top-right-center ul li{
	line-height: 36px;
}
#image{
	background:#999966;
	width: 98%;
	height: 100px;
}
#image>li{
	margin-left: 10px;
	line-height: 30px;
}
#bottom-right-center>ul{
	margin-left: 20px;
	list-style: none;
}
#bottom-right-center ul li{
	line-height: 36px;
}
#top-left-center>ul{
	margin-left: 20px;
	list-style: none;
}
#top-left-center>ul>li{
	line-height: 40px;
}
#image1{
	width: 94%;
	height: 50px;
	background: #999966;
}
#image1>li{
	margin-left: 10px;
	line-height: 30px;
}
#center-left-center>ul{
	margin-left: 20px;	
	list-style: none;
}
#center-left-center>ul>li{
	line-height: 40px;
}
#image2{
	width: 94%;
	height: 100px;
	background: #999966;
}
#image2>li{
	line-height: 33px;
	margin-left: 10px;
}
#bottom-left-center>ul{
	margin-left: 20px;	
	list-style: none;
}

#image3{
	width: 94%;
	height: 100px;
	background:white;
}
#image3>li{
	line-height: 40px;
	margin-left: 10px;	
}
#footer{
	width: 100%;
	height: 50px;
	background: #999966;
	clear: both;
	line-height: 50px;
	border-bottom: 10px solid #ffff66;
	border-left: 10px solid #ffff66;
	border-right: 10px solid #ffff66;
}
#footer>ul{
	list-style: none;
	text-align: center;
}