*{
	padding: 0px;
	margin: 0px;
	font-family: "Montserrat", sans-serif;
}
.all{
	width: 100%;
	height: auto;
}
.content{
	width: 35%;
	height: auto;
	position: fixed;
	float: left;
}
.content>img{
	width: 100%;
	height: 100vh;

}
.sidebar{
	width: 65%;
	height: auto;
	float: right;
}
.menu{
	height: 70px;
	background: white;
	margin: 0 auto;
	width: 70px;
	float: right;
	position: fixed;
	right: 0px;
}
.menu:hover{
	background: grey;
}
.next-menu{
	float: right;
	line-height: 100px;
	padding: 0 10px;
}
.next-menu a{
	color: #fff;
	font-size: 35px;
	text-decoration: none;
	padding: 0 10px;
	color: grey;
	font-family: "Montserrat", sans-serif;

}
#check{
	visibility: hidden;
	z-index: -1111;
}
.show-menu-btn , .hide-menu-btn{
	font-size: 30px;
	color: #999966;
	display: none;
}

@media screen and (min-width: 100px){
	.show-menu-btn , .hide-menu-btn{
		display: block;
	}
	.next-menu{
		position: fixed;
		width: 65%;
		height: 100vh;
		background: black;
		right: -100%;
		top: 0px;
		line-height: normal;
		padding: 100px 0;
		text-align: center;
		transition: 0.7s;
	}
	.next-menu a{
		display: block;
		line-height: 70px;
	}
	.hide-menu-btn{
		position: absolute;
		top: 20px;
		right: 20px;
	}
	#check:checked ~ .next-menu{
		right: 0px;
	}
}
.next-menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
	color: #00cc99;
}
.show-menu-btn{
	float: right;
	line-height: 75px;
	position: fixed;
	right: 20px;
	top: 0px;
}
.header{
	width: 100%;
	height: 200px;
	
	clear: both;
	text-align: center;
	padding: 150px 0;
	line-height: 40px;
}
.jane{
	font-size: 70px;
	font-family: "Montserrat", sans-serif;
}
.text-header{
	font-size: 16.5px;
	padding: 30px 0;
	font-family: "Montserrat", sans-serif;
}
.download{
	width: 220px;
	height: 42px;
	background: #f1f1f1;
	margin: 0 auto;
}
.download:hover{
	background: grey;
}
.my-portfolio{
	width: 95%;
	height: 65px;
	margin: 0 auto;
	border-bottom: 1px solid #f1f1f1;
}
.my-portfolio>p{
	font-size: 30px;
	font-family: "Montserrat", sans-serif;
	color: grey;
}
.container{
	width: 95%;
	height: auto;
	margin: 0 auto;
	margin-top: 20px;
}
.left-container{
	width: 49%;
	height: auto;
	float: left;
}
.image1{
	width: 100%;
	height: 300px;

}
.image1>img{
	width: 100%;
	height: 100%;
}
.image2{
	width: 100%;
	height: 700px;
	margin-top: 12px;
}
.image2>img{
	width: 100%;
	height: 100%;
}
.image3{
	width: 100%;
	height: 300px;
	margin-top: 12px;
}
.image3>img{
	width: 100%;
	height: 100%;
}
.right-container{
	width: 49%;
	height: auto;
	float: right;
}
.image-1{
	width: 100%;
	height: 450px;
}
.image-1>img{
	width: 100%;
	height: 100%;
}
.image-2{
	width: 100%;
	height: 268px;
	margin-top: 12px;
}
.image-2>img{
	width: 100%;
	height: 100%;
}
.image-3{
	width: 100%;
	height: 269px;
	margin-top: 12px;
}
.image-3>img{
	width: 100%;
	height: 100%;
}
.image-4{
	width: 100%;
	height: 330px;
	margin-top: 12px;
}
.image-4>img{
	width: 100%;
	height: 100%;
}
.about{
	width: 95%;
	height: 150px;
	margin: 0 auto;
	clear: both;
	border-bottom: 1px solid #f1f1f1;
}
.about>p{
	padding: 85px 0;
	font-size: 35px;
	color: grey;
}
.text-bellow-about{
	width: 95%;
	height: 190px;
	
	margin: 0 auto;
	margin-top: 20px;
}
.text-bellow-about>p{
	font-size: 17px;
	font-family: "Montserrat", sans-serif;
	line-height: 25px;
	text-align: justify;
	color: grey;
}
.my-skills{
	width: 95%;
	height: 80px;
	
	margin: 0 auto;
}
.my-skills>p{
	font-size: 30px;
	font-family: "Montserrat", sans-serif;
	color: grey;

}
.Photography{
	width: 95%;
	height: 30px;
	height: 90px;
	
	margin: 0 auto;
}
.Photography>p{
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	color: grey;
}
.full{
	width: 100%;
	height: 30px;
	background: #f1f1f1;
	margin-top: 15px;
}
.ninety-five{
	width: 95%;
	height: 100%;
	background: #616161;
}
.ninety-five>p{
	text-align: center;
	line-height: 30px;
	color: #f3f3f3;
}


.web-design{
	width: 95%;
	height: 30px;
	height: 90px;
	
	margin: 0 auto;
}
.web-design>p{
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	color: grey;
}
.full{
	width: 100%;
	height: 30px;
	background: #f1f1f1;
	margin-top: 15px;
}
.eighty-five{
	width: 85%;
	height: 100%;
	background: #616161;
}
.eighty-five>p{
	text-align: center;
	line-height: 30px;
	color: #f3f3f3;
}


.Photoshop{
	width: 95%;
	height: 30px;
	height: 90px;
	
	margin: 0 auto;
}
.Photoshop>p{
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	color: grey;
}
.full{
	width: 100%;
	height: 30px;
	background: #f1f1f1;
	margin-top: 15px;
}
.eighty{
	width: 80%;
	height: 100%;
	background: #616161;
}
.eighty>p{
	text-align: center;
	line-height: 30px;
	color: #f3f3f3;
}


.next-section{
	width: 95%;
	height: 120px;
	margin: 0 auto;
	background: #616161;
}
.left-next-section{
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
	padding: 30px 0;
}
.left-next-section>p,
.beetwen1>p,
.beetwen2>p,
.right-next-section>p{
	line-height: 27px;
	color: #f3f3f3;
}
.beetwen1{
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
	padding: 30px 0;
}
.beetwen2{
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
	padding: 30px 0;
}
.right-next-section{
	width: 25%;
	height: 100%;
	float: right;
	text-align: center;
	padding: 30px 0;
}
.next-download{
	width: 20%;
	height: 45px;
	background: #f1f1f1;
	margin-top: 45px;
	margin-left: 2.5%;
	text-align: center;
}
.next-download:hover{
	background: grey;
}

.my-reputation{
	width: 95%;
	height: 50px;

	margin: 0 auto;
}
.my-reputation>p{
	font-size: 27px;
	color: grey;
	margin-top: 50px;
}




.famous-person1{
	width: 95%;
	height: 100px;
	margin: 0 auto;
	margin-top: 20px;
}

.famous-person1>img{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	float: left;
	margin-right: 16px;
}

.famous-person1>p{
	line-height: 35px;
	margin-left: 10px;
	color: grey;
	font-size: 15px;
	line-height: 40px;
}



.famous-person2{
	width: 95%;
	height: 100px;
	margin: 0 auto;
	margin-top: 20px;

}

.famous-person2>img{
	width: 85px;
	height: 85px;
	border-radius: 50%;
	float: left;
	margin-right: 16px;
}

.famous-person2>p{
	line-height: 35px;
	margin-left: 10px;
	color: grey;
	font-size: 15px;
	line-height: 40px;
}


.famous-person3{
	width: 95%;
	height: 100px;
	margin: 0 auto;
	margin-top: 20px;
}

.famous-person3>img{
	width: 85px;
	height: 85px;
	border-radius: 50%;
	float: left;
	margin-right: 16px;
}

.famous-person3>p{
	line-height: 40px;
	margin-left: 10px;
	color: grey;
	font-size: 15px;
}

.my-price{
	width: 95%;
	height: 50px;

	margin:0 auto;
	margin-top: 50px;
	line-height: 50px;
}
.my-price>p{
	font-size: 25px;
	color: grey;
}

.price{
	width: 95%;
	height: auto;

	margin: 0 auto;
	margin-top: 15px;
}
.left-price{
	width: 49.2%;
	height: 530px;
	box-shadow: 0px 0px 6px grey;
	float: left;
}
.left-price:hover{
	box-shadow: 0px 0px 10px grey;
}
.basic{
	width: 100%;
	height: 100px;
	background: #616161;
	text-align: center;
	line-height: 100px;
	border: 1px solid grey;
	box-sizing: border-box;
}
.basic>p{
	font-size: 27px;
	color: #f3f3f3;
}
.Web-Design{
	width: 100%;
	height: 50px;
	background: white;
	text-align: center;
	line-height: 50px;
	box-sizing: border-box;
	border-right: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}

.Web-Design>p{
	font-size: 16px;
	color: grey;
}
.phoTography{
	width: 100%;
	height: 50px;
	background: white;
	text-align: center;
	line-height: 50px;
	box-sizing: border-box;
	border-right: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}

.phoTography>p{
	font-size: 16px;
	color: grey;
}

.Storage{
	width: 100%;
	height: 50px;
	background: white;
	text-align: center;
	line-height: 50px;
	box-sizing: border-box;
	border-right: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}

.Storage>p{
	font-size: 16px;
	color: grey;
}

.Mail-Support{
	width: 100%;
	height: 50px;
	background: white;
	text-align: center;
	line-height: 50px;
	box-sizing: border-box;
	border-right: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}

.Mail-Support>p{
	font-size: 16px;
	color: grey;
}

.per-month1{
	width: 100%;
	height: 130px;
	background: white;
	text-align: center;
	
	box-sizing: border-box;
	border-right: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	padding: 35px 0;
}

.per-month1>p{
	font-size: 16px;
	color: grey;
	line-height: 39px;
}

.sign_up{
	width: 100%;
	height: 100px;
	background: #f1f1f1;
	box-sizing: border-box;
	border-right: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	padding: 35px 0;
}

.sign{
	width: 110px;
	height: 45px;
	background: white;
	line-height: 45px;
	text-align: center;
	margin: 0 auto;
}
.sign>p{
	font-size: 16px;
	color: grey;
}
.sign:hover{
	
	background: black;
}
.sign>p:hover{
	color: white;
}


.right-price{
	width: 49.2%;
	height: 530px;
	box-shadow: 0px 0px 6px grey;
	float: right;
}
.right-price:hover{
	box-shadow: 0px 0px 10px grey;
}
.contact-me{
	width: 95%;
	height: 140px;

	margin:0 auto;
	clear: both;
	border-bottom: 1px solid #f1f1f1;
}
.contact-me>p{
	padding: 80px 0;
	font-size: 30px;
	color: grey;
}

.infor{
	width: 95%;
	height: 170px;

	margin: 0 auto;
	margin-top: 25px;
}
.map{
	width: 100%;
	height: 60px;
	
}
.map>i{
	font-size: 40px;
	color: #757575;

}
.map span{
	font-size: 15px;
	color: grey;
	margin-left: 35px;
}

.phone{
	width: 100%;
	height: 60px;
	
}
.phone>i{
	font-size: 40px;
	color: #757575;

}
.phone span{
	font-size: 15px;
	color: grey;
	margin-left: 23px;
}


.email{
	width: 100%;
	height: 60px;
	
}
.email>i{
	font-size: 35px;
	color: #757575;

}
.email span{
	font-size: 15px;
	color: grey;
	margin-left: 20px;
}

.image-map{
	width: 95%;
	height: auto;
	margin:0 auto;
	margin-top: 40px;
}
.image-map>img{
	width: 100%;
	height: 100%;
}

.send-message{
	width: 95%;
	height: 70px;

	margin: 0 auto;
	margin-top: 40px;
}
.send-message>p{
	font-size: 16px;
	color: grey;
}

.personal-information{
	width: 95%;
	height: auto;
	margin: 0 auto;

}
.name{
	width: 100%;
	height: 50px;
	font-size: 17px;
}
.emails{
	width: 100%;
	height: 50px;
	font-size: 17px;
	margin-top: 15px;
}

.Subject{
	width: 100%;
	height: 50px;
	font-size: 17px;
	margin-top: 15px;
}
.Message{
	width: 100%;
	height: 50px;
	font-size: 17px;
	margin-top: 15px;
}

.SEND-Message{
	width: 95%;
	height: 50px;

	margin: 0 auto;
	margin-top: 15px;
}

.submit{
	width: 190px;
	height: 45px;
	
	text-align: center;
	line-height: 45px;
	background: #f1f1f1;
}
.submit:hover{
	background: grey;
}

.footer{
	width: 100%;
	height: 210px;
	background: #f1f1f1;
	margin-top: 80px;
	text-align: center;

}
.footer i{
	font-size: 25px;
	color: grey;
	margin-top: 80px;

}
.footer p{
	font-size: 18px;
	color: grey;
	margin-top: 15px;
}

.footer span:hover{
	color: #00ff99;
}

@media screen and (max-width: 990px){
	.content{
	
		float: none;
		position: absolute;

	}
	.content>img{
		display: none;
	}
	.sidebar{
		width: 100%;
	
		float: none;

	}
	.image-responsive{
		width: 60%;
		height: auto;
		margin:0 auto;
		background: red;
	}
	.image-responsive>img{
		display: block !important;
		width: 100%;
		height: auto;
	}
	.header{
		height: auto;
	}
	.download{
		margin-top: 20px;
	}
	.text-bellow-about{
		height: auto;
	}
	.my-skills{
		margin-top: 20px;
	}
	.next-download {
   	 	width: 200px;
    	height: 45px;
   		
	}

	
}
@media screen and (max-width: 600px){
	.image-responsive{
		width: 90%;
		height: auto;
		margin:0 auto;
		background: red;
	}
	.image-responsive>img{
		display: block !important;
		width: 100%;
		height: auto;
	}
	.left-container{
		width: 100%;
		
		float: none;
	}
	.right-container{
		width: 100%;
		margin-top: 15px;
		float: none;
	}
	.left-price{
		width: 100%;
		float: none;
	}
	.right-price{
		width: 100%;
		float: none;
		margin-top: 15px;
	}
	.next-section{
		height: auto;
	}
	.left-next-section{
		width: 100%;
		float: none;
	}
	.beetwen1{
		width: 100%;
		float: none;
	}
	.beetwen2{
		width: 100%;
		float: none;
	}
	.right-next-section{
		width: 100%;
		float: none;
	}
	.next-download {
   	 	display: none;
	}

}
@media screen and (max-width: 386px){
	
	.famous-person1{
	
		height: 150px;
		
	}
	.famous-person2{
	
		height: 150px;
		
	}
	.famous-person3{
	
		height: 150px;
		
	}
}
@media screen and (max-width: 306px){
	
	.famous-person1{
	
		height: 200px;
		
	}

}
@media screen and (max-width: 266px){
	
	.famous-person2{
	
		height: 200px;
		
	}

}